
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>All Companies </h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div><br>
<div class="row main">
	<div class="col-md-1"></div>
	<div class="col-md-10 padding-none">
	<a href="{{url_for('newCompany')}}">
				<button class="btn btn-default" id="new-restaurant">
					<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>Add Company
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div><br>
{% for c in company %}
<a href = "{{url_for('showEmployee', company_id = c.id)}}">
  <div class = "row" >
  <div class="col-md-1"></div>

  <div class="col-md-10 restaurant-list">
    <div class="media">

			<div class="media-left">
      	<img src="{{c.picture}}" class="img-circle" width="100 px" height="100 px">
			</div>

      <div class="media-body">
		<h2 class="media-heading">{{c.name}}</h2>
      </div>

			</div>
	</div>

  <div class="col-md-1"></div>
  </div>
	</a>
{% endfor %}
{% endblock %}
