{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Company</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">

			<form action="/company/new" method="post" enctype="multipart/form-data">
				<label for="name">Name:</label>
				<input type ="text" class="form-control" maxlength="100" name="name"><br><br>
				<label for="picture">Select Picture:</label><br>
				<span class="btn btn-default btn-file">
	        Browse <input name="image" type="file" value="static/blank_user.gif">
	      </span><br><br>


				<button class="btn btn-primary"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>Create</button>
         </form>
			<!--	<div class="padding-bottom"></div>
				<button type="submit" class="btn btn-default" id="submit" type="submit">
				<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Create</button>-->
			</div>
		</div>
{% endblock %}
