{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ company.name }}
			<figure class="creator">
				<img src="{{ creator.picture}}">
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
			</h1>

		</div>
	</div><br>
	{% for e in employee %}
		<div class = "row" >
	  <div class="col-md-1"></div>

	  <div class="col-md-10 restaurant-list">
	    <div class="media">

				<div class="media-left">
	      	<img src="{{e.picture}}" class="img-circle" width="100 px" height="100 px">
				</div>

	      <div class="media-body">
					<h2 class="media-heading"><font color="Green">Name:- </font>{{e.name}}</h2><h4><font color="black">Email:-</font><font color="violet">{{e.email}}</font></h4>
					<h4><font color="black">Address:-</font><font color="violet">{{e.address}}</violet></h4><h4><font color="black">Mobile No:-</font><font color="violet">{{e.contact}}</font></h4>
					<h4><font color="black">Date of Birth:-</font><font color="violet">{{e.dob}}</font></h4>
				</div>

				</div>
		</div>

	  <div class="col-md-1"></div>
	  </div>
	{% endfor %}
{% endblock %}
